<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="PORT">${spring:server.port:-8888}</Property>
        <Property name="LOG_DIR">./logs</Property>
    </Properties>

    <Appenders>

        <RollingFile
                name="AppFile"
                fileName="${LOG_DIR}/ins_backend.log"
                filePattern="${LOG_DIR}/ins_backend-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %X{traceId} [%t] [port:${PORT}] %c{1} - %msg%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy
                        interval="1"
                        modulate="true"/>

                <SizeBasedTriggeringPolicy
                        size="100MB"/>
            </Policies>

            <DefaultRolloverStrategy max="30">

                <Delete
                        basePath="${LOG_DIR}"
                        maxDepth="1">

                    <IfFileName glob="ins_backend-*.log.gz"/>

                    <IfLastModified age="14d"/>

                </Delete>

            </DefaultRolloverStrategy>

        </RollingFile>

    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="AppFile"/>
        </Root>

    </Loggers>

</Configuration>
